table {
    border-collapse: collapse;
    min-width: 30vw;
    width: 100%;
}

th,
td {
    border: 2px solid #1a1a1a;
    text-align: left;
    padding: 8px;
}

thead {
    background-color: #facd28;
}

tr:nth-child(even) {
    background-color: #e5cd75;
}

#transactionForm {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#transactionForm>div {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    align-self: flex-end;
}

.iconButton {
    width: 48px;
    height: 48px;

    padding: 2px;
}

.deleteButton {
    background-color: red;
}

.editButton {
    background-color: blue;
}

.icon {
    width: 100%;
    height: auto;
}